/* Z-Indexes */

.side-menu {
  z-index: 100
}

/* Content fader */
.main::before {
  z-index: 1;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;

  background: #607D8B;
  font-family: sans-serif;

  color: #444;
  background-color: #CFD8DC;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
}
/* Fade cover */
.main::before {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;

  opacity: 0;

  background: black;
  content: '';
  -webkit-transition: opacity .5s ease-out, height 0s;
     -moz-transition: opacity .5s ease-out, height 0s;
      -ms-transition: opacity .5s ease-out, height 0s;
          transition: opacity .5s ease-out, height 0s;

  -webkit-transition-delay: 0s, .5s;
     -moz-transition-delay: 0s, .5s;
      -ms-transition-delay: 0s, .5s;
          transition-delay: 0s, .5s;
}

.main.is-faded::before {
  opacity: .5;
  height: 100%;
  -webkit-transition-delay: 0s, 0s;
     -moz-transition-delay: 0s, 0s;
      -ms-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}


.split-menu {
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #009688;
  color: white;
}

.split-menu__item {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  cursor: pointer;
}

.split-menu__item:hover {
  background-color: rgba(255,255,255,.25);
}

.card {
  border-radius: 2px;
  background: white;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.side-menu {
  position: fixed;
  right: 0;
  top: 0;

  height: 100%;
  width: 30rem;
  padding: 1rem;
 
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .25s;

  color: white;

  background: #009688;
}

.side-menu.is-open {
  transform: scaleX(1);
}

