/* Z-Indexes */

.side-menu {
  z-index: 100
}

/* Content fader */
.main::before {
  z-index: 1;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;

  background: #607D8B;
  font-family: sans-serif;

  color: #444;
  background-color: #CFD8DC;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
}
/* Fade cover */
.main::before {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;

  opacity: 0;

  background: black;
  content: '';
  -webkit-transition: opacity .25s ease-out, height 0s;
     -moz-transition: opacity .25s ease-out, height 0s;
      -ms-transition: opacity .25s ease-out, height 0s;
          transition: opacity .2s ease-out, height 0s;

  -webkit-transition-delay: 0s, .5s;
     -moz-transition-delay: 0s, .5s;
      -ms-transition-delay: 0s, .5s;
          transition-delay: 0s, .5s;
}

.main.is-faded::before {
  opacity: .5;
  height: 100%;
  -webkit-transition-delay: 0s, 0s;
     -moz-transition-delay: 0s, 0s;
      -ms-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}


.collapse-menu {
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #009688;
  color: white;
  position: relative;
}

.collapse-menu__item,
.collapse-menu__menu-title {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 13rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  cursor: pointer;
  background-color: #009688;
}

.collapse-menu__item:hover,
.collapse-menu__menu-title:hover {
  background-color: rgba(63, 175, 165, 1);
}

.collapse-menu__menu-title {
    display: none;
}

.collapse-menu__submenu {
    display: inline-block;
}

.card {
  border-radius: 2px;
  background: white;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.side-menu {
  position: fixed;
  right: 0;
  top: 0;

  height: 100%;
  width: 30rem;
  padding: 1rem;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform .25s;

  color: white;

  background: #009688;
}

.side-menu.is-open {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: #009688;
  border-bottom: 1px dotted #009688;
}
