html, body {
  margin: 0;
  padding: 0;
  position: relative;

  background: #607D8B;
  font-family: sans-serif;

  color: #444;
  background-color: #CFD8DC;
}

h1 {
  margin: 0;
  padding: 0;
}

.split-menu {
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #009688;
  color: white;
}

.split-menu__item {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  cursor: pointer;
}

.half-split {
}

.first-half {
}

.second-half {
}

.split-menu__item:hover {
  background-color: rgba(255,255,255,.25);
}

.card {
  border-radius: 2px;
  background: white;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

